<h3>Sign In</h3>
<form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <app-inputt
    inputType="text"
    label="Username"
    [control]="$any(authForm.get('username'))"
  ></app-inputt>

  <app-inputt
    inputType="password"
    label="Password"
    [control]="$any(authForm.get('password'))"
  ></app-inputt>

  @if (authForm.errors) {
    <div class="ui red basic label">
      @if (authForm.errors['credentials']) {
        <p>Invalid username or password</p>
      }
    </div>
  }

  <div>
    <button class="ui submit button primary">
      Submit
    </button>
  </div>
</form>